.heading{
    position: relative;
    /* top: 2.0em; */
	font-size: 42px;
    color: black;
    text-align: center;
    padding-top: 2%;
}
.subheading{
    font-size: 22px;
    color: black;
    text-align: center;
    padding-top: 2%;
    position: relative;
    top: 2.5em;
}
.question-display {
    display: grid;
    grid-template-columns: 1fr;
    margin: 1em;
    box-sizing: border-box;
}

@media screen and (max-width: 500px) {
 
}