# Compiled files
dist/

# Config file
config/config.js
configuration/.env
/*.env

# Node stuff
/node_modules
.npm
.node_repl_history
.lock-wscript
logs
*.env
*.log
npm-debug.log*

# OS stuff
Desktop.ini
ehthumbs.db
Thumbs.db
$RECYCLE.BIN/
._*
.DS_Store
.Spotlight-V100
.Trashes

.next/