
form {
  width: inherit;
}
.food-search-nav{
  width: 100%;
  background-color: #454545;
  height: 100px;
  color: #fff;
}

.nav-heading {
  font-size: 1em;
}

.food-search-button {
  background-color: #454545;
  color: #FFFFFF;
  border-radius: 7px;
  font-size: 17px;
  cursor: pointer;
  padding: 6px 20px;
  text-align: center;
}

.food-search-wrapper{
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 1em;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
 }
 .diet-search-container {
    background-color: #eee;
    height: inherit;
    overflow: scroll;
 }
 .input-box-one {
  top: 0;
  margin-top: 0 !important;
  margin-right: 1%;
}
 .submit-button, .back-button, .food-search-button, .add-food-button {
    background-color: #454545;
    color: #FFFFFF;
    border-radius: 7px;
    font-size: 17px;
    cursor: pointer;
    padding: 14px 28px;
    text-align: center;
}
.food-search-button {
  padding: 7px;
}
  .search-button:hover, .back-button:hover, .food-search-button:hover, .add-food-button:hover {
    background-color: #FFFFFF;
      color: black;
  }
  .back-button {
    margin-top: 20%;
  }
  .nutrition-facts-table {
    width: 96%;
    margin: auto;
    margin-top: 4%;
  }
  .nutrition-facts-table, th, td {
    color: white;
    border: 1px solid white;
  }
  .food-list {
    margin: 0 3%;
    font-size: 12px;
    text-align: left;
    padding: 0;
  }
  .food-list li {
    list-style: none;
    margin: 2.5%;
  }
  /* .food-list li:hover {
    cursor: pointer;
    color: rgba(182, 174, 174, 0.93);
  } */

  .list-group-item:hover {
    cursor: pointer;
    /*color: rgba(182, 174, 174, 0.93);*/
    background-color: rgba(182, 174, 174, 0.93)
  }

  .food-search-form {
    margin: auto;
  }

  .diet-search-button-div {
    text-align: center;
  }
  .pagination-div {
    text-align: center;
    margin-top: 1%;
  }
  .pagination-nav {
    display: inline-block;
  }
  .pagination {
    margin: 0;
  }
  .page-link {
    color: black !important;
  }
  .page-item.active .page-link {
    background-color: rgba(182, 174, 174, 0.93) !important;
  }
  .default-search-text {
    color: #bfbdbd;
    padding-top: 10%;
  }

  .nutrients-per-cup-table {
    width:96% !important;
    margin: auto !important;
  }

  @media screen and (max-width: 745px) {
    .food-search-wrapper{
      height: 100vh;
      display: block;
      margin: 4%;
     }
     .diet-search-container {
      margin-top: 2%;
      margin-bottom: 2%;
      height: 50vh;
   }
   .food-search-form {
     margin: 0 auto;
     width: 90%;
   }
   .search-button, .back-button {
     font-size: 15px;
   }

   .nutrition-facts-table {
    width: 96%;
    margin: auto;
    margin-top: 4%;
  }

  }
