.diet-search-container{
    background-image: url('../../images/website-background.gif');
    float: right;
    height: 500px;
    width: 485px;
    margin-left: 2%;
    margin-right: 2%;
	  margin-top: 1%;
    position: center;
    border-radius: 25px;
    border-style: solid;
    border-color: white;
   }
.input-box-one {
  bottom: 3px;
}
  h1 {
    text-align: center;
    padding-top: 2%;
    color: white;
  }

  h2 {
    color: white;
  }

  p{
    text-align: center;
    padding-top: 2%; 
    color: white;
    font-size: 22px;
  }
  ul {
    list-style-type: none;
  }
  li {
    color: white;
  }
  .search-button, .back-button{
    background-color: #232323;
    color: #FFFFFF;
    border-radius: 7px;
    font-size: 17px;
    cursor: pointer;
    padding: 14px 28px;
    text-align: center;
}
  .search-button:hover, .back-button:hover{
    background-color: #FFFFFF;
      color: black;
  }
  .back-button {
    margin-top: 20%;
  }
  .nutrition-facts-table {
    width: 96%;
    margin: auto;
    margin-top: 4%;
  }
  table, th, td {
    color: white;
    border: 1px solid white;
  }
  .food-list {
    font-size: 12px;
  }
  .food-list li {
    margin: 2.5%;
  }
  .food-list li:hover {
    cursor: pointer;
    color: yellow;
  }