
form {
  width: inherit;
}
.food-search-wrapper{
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 1em;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
 }
 .diet-search-container {
    background-color: #eee;
 }
 .input-box-one {
  top: 0;
}
 .submit-button, .back-button{
    background-color: #454545;
    color: #FFFFFF;
    border-radius: 7px;
    font-size: 17px;
    cursor: pointer;
    padding: 14px 28px;
    text-align: center;
}
  .search-button:hover, .back-button:hover{
    background-color: #FFFFFF;
      color: black;
  }
  .back-button {
    margin-top: 20%;
  }
  .nutrition-facts-table {
    width: 96%;
    margin: auto;
    margin-top: 4%;
  }
  .nutrition-facts-table, th, td {
    color: white;
    border: 1px solid white;
  }
  .food-list {
    margin: 0 3%;
    font-size: 12px;
    text-align: left;
    padding: 0;
  }
  .food-list li {
    list-style: none;
    margin: 2.5%;
  }
  .food-list li:hover {
    cursor: pointer;
    color: rgba(182, 174, 174, 0.93);
  }

  @media screen and (max-width: 810px) {
    .food-search-wrapper{
      height: 100vh;
      display: block;
     }
     .diet-search-container {
      /* height: 50%; */
      height: 100vh;
   }
   .food-search-form {
     margin: 0 auto;
     width: 90%;
   }
   .search-button, .back-button {
     font-size: 15px;
   }

   .nutrition-facts-table {
    width: 96%;
    margin: auto;
    margin-top: 4%;
  }

  }
