body,html{
    margin: 0;
    font:1em "Open Sans", sans-serif;
  }
  
  .content{
    padding: 30px;
  }
  
  .nav-main{
    width: 100%;
    background-color: #222;
    height: 70px;
    color: #fff;
  }
  
  .nav-main .logo{
    float: left;
    height: 40px;
    padding: 15px 30px;
    font-size: 1.4em;
    line-height: 40px;
    text-decoration: none;
    color: white;
  }
  
  .nav-main > ul{
    margin: 0;
    padding: 0;
    float: left;
    list-style-type: none;
  }
  
  .nav-main > ul > li{
    float: left;
  }
  /*target the anchors with class nav-item for the most space instead of the li's*/
  .nav-item{
    display: inline-block;
    padding: 15px 20px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    text-decoration: none;
  }
  
  .login:hover, .nav-item:hover, .logo:hover{
    background-color: #444;
  }
  
  .nav-item:focus{
    /*fouus allows the item to be highlighted after clicking*/
    background-color: #444;
  }
  .nav-content{
    /*still shows because of the padding. This is why we create nav-sub*/
    max-height: 0;
    /*this keeps the even spacing between the li's in the nav*/
    position: absolute;
    top: 70px;
    /*just incase anything is greater than the max height*/
    overflow: hidden;
    background-color: #222;
  }
  
  .login {
    float: right;
    width: 80px;
    padding: 15px 15px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    color: #fff;
    text-decoration: none;
  }
  
  .nav-content a{
    /*do not use padding here*/
    color: #fff;
    text-decoration:none;
  }
    
  .nav-sub ul{
    /*left justifies the dropdown list*/
    padding: 0;
    margin: 0;
    list-style-type: none;
    max-height: 0;
    position: relative;
    top: 0px;
  }
  
  .nav-sub li a{
    /*allows spacing between the lis*/
    display: inline-block;
    overflow: hidden;
    margin: 1.5em;
    text-decoration: none;
    color: white;
    
  }
  .nav-sub-item:hover{
     background-color: #444;
  }

  .nav-content{
    /*still shows because of the padding. This is why we create nav-sub*/
    max-height: 0;
    /*this keeps the even spacing between the li's in the nav*/
    position: absolute;
    top: 70px;
    /*just incase anything is greater than the max height*/
    overflow: hidden;
    background-color: #222;
  }

  .dropdown-ul {
    display: none;
  }

  @media only screen and (max-width: 800px) {
    .dropdown-ul {
      display: block;
    }
    .nav-item, .login {
        display: none;
    }
    .nav-item {
      padding: 15px 40px;
    }
    .dropdown-menu {
      display: block;
    }
    .nav-main > ul, .nav-main > ul > li {
      margin: auto;
      width: 8em;  
      float: none !important;
    }
    .nav-sub > ul {
      max-height: 0;
      width: 8em;
      background-color: white;
      margin: auto;
      position: absolute;
      overflow: hidden;
      top: 70px;
    }
    /* .dropdown-ul:hover ul{
      z-index: 1;
      display: block;
      background-color: #222;
      max-height: 100vh;
      transition:max-height 0.4s ease-in;
      -webkit-transition:max-height 0.4s ease-in;
      -moz-transition:max-height 0.4s ease-in;
    } */

    .dropdown-menu:focus ~ div ul{
      z-index: 1;
      display: block;
      background-color: #222;
      max-height: 100vh;
      transition:max-height 0.4s ease-in;
      -webkit-transition:max-height 0.4s ease-in;
      -moz-transition:max-height 0.4s ease-in;
    }

    .dropdown-link {
      color: white;
      padding:1em;
      display: block;
      text-decoration: none;
      z-index: 1;
      text-align: center;
    }

    .dropdown-link:hover{
      background-color: #444;
      max-height: 100vh;
      cursor: pointer;
      transition:max-height 0.4s ease-in;
      -webkit-transition:max-height 0.4s ease-in;
      -moz-transition:max-height 0.4s ease-in;
    }



}
  
  
  
  
  
  
  
  
  
  